/* Write your CSS here */
.bg {
  height: 100vh;
  background-size: cover;
  background-image: linear-gradient(to right, #f9d423, #e2a139);
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  font-family: 'Roboto';
  padding: 40px;
}
.card {
  background-color: #ffffff;
  border-radius: 10px;
  padding: 20px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.heading {
  color: #a35200;
  font-size: 50px;
}
.para {
  font-size: 20px;
}
.coin-img {
  width: 300px;
}
.button {
  background-color: #e2a139;
  padding: 8px;
  color: #a35200;
  border-width: 0;
  border-radius: 5px;
}
.bottom-container {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}
.bottom-values {
  padding-right: 20px;
}
